body{
  margin: 0;
  padding: 0;
  text-align: center;
}

html{
  margin-top: 0;
}
.nav-bar{
  background: rgb(139, 171, 147);
  padding-top: 4rem;
  padding-bottom: 1rem;
  width:100%;
}

.footer{
  background-color:rgb(139, 171, 147);
  padding: 2.5rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;  
} 
/* .main-image{
  float:right;
} */

.nav-title{
  font-family: 'Rubik Dirt';
  font-size:5rem;
  color: rgb(39, 100, 68);
  padding:0;
  margin: 2rem;
}
.main-h2{
font-size: 2rem;
padding:3rem;
}

.main-h1{
font-family: 'Rubik Dirt';
font-size:5rem;
color: rgb(39, 100, 68);
}

h2{
  font-family: 'Knewave', cursive;
font-family: 'Rubik Dirt', cursive;
font-size: 2rem;
color:rgb(39, 100, 68);
}

.card-overlay {
  /* border: 2px solid var(--primary-button-hover); */
  width: 60%;
  padding: 1em;
  border-radius: 8px;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.3);
  background-color: gray;
  margin:auto;
}

.col-4 {
  grid-template-columns: repeat(auto-fill, 400px);
}

form,
.input-wrapper {
  margin: auto;
  width: 80%;
  text-align: center;
  background-color: white;
  border-radius: 5%;;
}

